<footer class="bg-dark text-white py-4">
    <div class="container">
      © 2021 Copyright (No se que poner aqui) <br>
      Generación TC2005B Construcción de software
    </div>

  </footer>
</body>
<script type="text/javascript" src="/js/lab6.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
  crossorigin="anonymous"
></script>
</html>