<%- include('includes/header.ejs') -%>

<h3>Ruta 1</h3>

<p>
  ▒▒▄▀▀▀▀▀▄▒▒▒▒▒▄▄▄▄▄▒▒▒<br />
  ▒▐░▄░░░▄░▌▒▒▄█▄█▄█▄█▄▒<br />
  ▒▐░▀▀░▀▀░▌▒▒▒▒▒░░░▒▒▒▒<br />
  ▒▒▀▄░═░▄▀▒▒▒▒▒▒░░░▒▒▒▒<br />
  ▒▒▐░▀▄▀░▌▒▒▒▒▒▒░░░▒▒▒▒<br />
</p>

<%- include('includes/footer.ejs') -%>
