<%- include('includes/header.ejs') -%>
<br />
<h3>Agrega el nombre del alumno</h3>
<form action="agregararchivo" method="POST">
  <input type="text" name="nombre" /><input
    type="submit"
    value="Guardar Alumno"
  />
</form>
<br />
<%- include('includes/footer.ejs') -%>
